* {
    margin: 0;
}

body {
    font-size: 14px;
    background: red;

    div {
        background: blue;
        margin: 0;
        padding: 14px;
    }

    p {
        margin: 10px;
        display: flex;
    }
    
    
    
    
    
    
}